<div style="float: right;">
    <input type="button" value="Toggle Dark BG" (click)="toggleDarkBackground()" />
    <input type="button" value="Toggle Color" (click)="toggleTitleColor()" />
</div>
<h1 class="{{use_dark_background ? 'darkbg':''}}" [style.color]="title_text_color">This is list of all available recipes</h1>

<div *ngFor="let recipe of recipes">
    <app-recipe-summary [recipe]="recipe" (zoomIn)="recipeZoomedIn(recipe)"></app-recipe-summary>
</div>

<div style="clear: both"></div>

<div class="newrecipe card" style="width: 600px">
    <h4 class="card-header">Add New Recipe</h4>
    <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="recipe_in_progress.title" placeholder="Recipe Title" name="title" style="width: 400px" />
        </div>

        <div class="input-group">
            <textarea [(ngModel)]="recipe_in_progress.description" class="form-control" style="width: 400px" rows="5" placeholder="Description" name="discription"></textarea>
        </div>

        <div class="input-group">
            <input [(ngModel)]="recipe_in_progress.preparation_time" class="form-control" type="text" placeholder="Preparation time" name="preparation_time" style="width: 350px" />Minutes
        </div>

        <div class="input-group">
            <input [(ngModel)]="recipe_in_progress.feed_this_many" class="form-control" type="text" placeholder="Feed this many " name="feed_this_many" style="width: 350px" />People
        </div>

        <div class="input-group">
            <input type="button" value="Add Recipe" class="btn btn-primary" (click)="addRecipeCliked()">
        </div>

    </div>
</div>